body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.card {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0.4px 15px rgba(0,0,0,0.1);
    text-align: center;
}

input, select, button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all .3s ease;
}

button:hover {
    background-color: #e64f14;
    transform: scale(1.5);
}